{%load staticfiles %}
<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>CodePen - Login </title>

  <link rel="stylesheet" href="{% static 'module1/css/reset.css' %}">

    <link rel="stylesheet" href="{% static 'module1/css/style.css' %}" media="screen" type="text/css" />

</head>

<body>

  <div class="wrap">
		<div class="avatar">
     <!-- <img src="http://cdn.ialireza.me/avatar.png"> -->
		</div>
		<input type="text" placeholder="username" required>
		<div class="bar">
			<i></i>
		</div>
		<input type="password" placeholder="password" required>
		<a href="" class="forgot_link">forgot ?</a>
		<button>Sign in</button>
	</div>

  <script src="{% static 'module1/js/index.js' %}"></script>

</body>

</html>